<?xml version="1.0"?>
<launch>

  <!-- lanelet2 Global Planner -->
  <node pkg="mission_planner" type="mission_planner" name="mission_planner" output="screen">
    <param name="map_frame"                   value="map" />
    <param name="base_link_frame"             value="base_link" />
    <remap from="~input/vector_map"           to="/lanelet_map_bin" />
    <remap from="~input/goal_pose"            to="/move_base_simple/goal" />
    <remap from="~input/checkpoint"           to="/move_base_simple/fake_goal" />
    <remap from="~output/route"               to="/planning/mission_planning/route" />
    <remap from="~debug/route_marker"         to="/planning/mission_planning/route_marker" />
    <remap from="~output/global_path"         to="/planning/mission_planning/global_path" />
  </node>

  <!-- Vector Map OP Planner -->
  <node pkg="op_global_planner" type="op_global_planner" name="op_global_planner" output="screen">
    <param name="pathDensity"                 value="0.75" />   <!-- distance between each two waypoints-->
    <param name="enableSmoothing"             value="true" />   <!-- 1 or 0 -->
    <param name="enableLaneChange"            value="false" />  <!-- 1 or 0 -->
    <param name="enableRvizInput"             value="false" />  <!-- 1 or 0 -->
    <param name="enableReplan"                value="true" />   <!-- 1 or 0 -->    
    <param name="velocitySource"              value="1" />      <!-- read velocities from (0- Odometry, 1- autoware current_velocities, 2- car_info) "" -->
    <param name="mapSource"                   value="0" />      <!-- Autoware=0, Vector Map Folder=1, kml file=2 -->
    <param name="mapFileName"                 value="" />       <!-- incase of kml map source -->
    <param name="enableDynamicMapUpdate"      value="false" />
  </node> 

  <!-- Local Planner -->
  <node name="frenet_optimal_planner_node" pkg="frenet_optimal_planner" type="frenet_optimal_planner_node" output="screen">
    <!-- Hyperparameters -->
    <param name="planning_frequency"    value="10.0"/>
    <!-- Input Topic Names -->
    <param name="odom_topic"                    value="simulator/ground_truth/odom"/>
    <param name="objects_topic"                 value="lgsvl_utils/ground_truth/objects"/>
    <param name="lane_info_topic"               value="planning/mission_planning/global_path"/>
    <!-- <param name="cmd_topic"                     value="cmd_vel_out"/>
    <param name="ref_speed_topic"		            value="behaviour_planner/min_speed"/>
    <param name="current_steering_angle_topic" 	value="present_steering_angle"/> -->
    <!-- Output Topic Names -->
    <param name="output_path_topic"             value="local_planner/output_path"/>
    <param name="next_path_topic"               value="local_planner/next_path"/>
    <param name="ref_path_topic"                value="local_planner/ref_path"/>
    <param name="vehicle_cmd_topic"             value="auto_vehicle_cmd"/>
    <!-- <param name="turn_signal_topic"             value="turn_signal"/>
    <param name="planner_target_speed_topic"    value="local_planner/target_speed"/> -->
  </node>

  <!-- Dynamic Reconfigure GUI -->
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" />

</launch>
